﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="fs">
<head>
    <title>Fuel Checkout</title>
    <link href="Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/Site.css" rel="stylesheet" />

    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-resource.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/angular-touch.min.js"></script>

    <script src="Scripts/jquery-1.8.2.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/ng-grid.js"></script>
    <script src="Scripts/moment.js"></script>
    <script src="Scripts/ui-bootstrap-tpls-0.12.1.min.js"></script>

    <script src="js/fuel-module.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    
    

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalab le=no" />
</head>

<body>

    <div class="container" ng-controller="FuelCheckoutController">

        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header"><div class="navbar-brand">Fuel Station</div></div>
            <ul class="nav navbar-nav">
                <li><a href="/checkout">Checkout</a></li>
                <li><a href="/checkoutList">Checkout List</a></li>
            </ul>

            <button type="button" class="btn btn-link pull-right" onclick="javascript:location.reload(true)">
                <h4> Refresh</h4>
            </button>

        </nav>


        <h2>Checkout</h2>
        <h3><!--Please enter student ID: {{studentId}}--></h3>
        <h3>Please enter student ID: <input placeholder="Click here to enter..." ng-model="studentId" ng-change="checkStudentId()" ></h3>


        <p>
            <div class="row">
                <div class="col-sm-4">
                    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="numButton('1')"><h1>1</h1></button>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="numButton('2')"><h1>2</h1></button>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="numButton('3')"><h1>3</h1></button>
                </div>
            </div>
        </p>

        <p>
            <div class="row">
                <div class="col-sm-4">
                    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="numButton('4')"><h1>4</h1></button>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="numButton('5')"><h1>5</h1></button>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="numButton('6')"><h1>6</h1></button>
                </div>
            </div>
        </p>

        <p>
            <div class="row">
                <div class="col-sm-4">
                    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="numButton('7')"><h1>7</h1></button>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="numButton('8')"><h1>8</h1></button>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="numButton('9')"><h1>9</h1></button>
                </div>
            </div>
        </p>

        <p>
            <div class="row">
                <div class="col-sm-4">
                    <button type="button" class="btn btn-warning btn-lg btn-block" ng-click="deleteButton()"><h1><span class="glyphicon glyphicon-circle-arrow-left"></span></h1></button>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="numButton('0')"><h1>0</h1></button>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-warning btn-lg btn-block" ng-click="clear()"><h1>CLR</h1></button>
                </div>
            </div>
        </p>

        <p>
            <!--<div class="form-horizontal col-md-3">
                <div class="form-group-lg">
                    <input class="form-control" ng-model="studentId" ng-change="checkStudentId()" disabled />
                </div>
            </div>-->
        </p>

        <div class="modal fade bs-example-modal-lg" data-backdrop="static" data-keyboard="false" id="workoutStageModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class=" modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header text-center"><h2>{{athleteData[0].fullName}}</h2></div>



                    <div class="modal-body text-center">
                        <div id="selectSport" ng-hide="athleteData.length < 2">
                            <h3>Select sport</h3>
                            <div class="btn-group-lg">
                                <item ng-repeat="item in athleteData">
                                    <label class="btn btn-default btn-lg" ng-model="$parent.sportCodeId" ng-click="selectSport(item)" btn-radio="item.sportCode.sportCodeID">
                                        {{item.sportCode.sportDescription}}
                                    </label>
                                </item>
                            </div>
                        </div>

                        <div id="selectWorkoutStage">
                            <h3>Select fuel stage</h3>
                            <div class="btn-group-lg">
                                <label class="btn btn-default" ng-disabled="pastPreCheckout || pastPreAndPostCheckout" ng-model="fuelStage" btn-radio="'pre'">
                                    Pre-workout <span ng-hide="!pastPreCheckout"><br /><small>Completed {{ pastPreCheckout }}</small></span>
                                </label>
                                <label class="btn btn-default" ng-disabled="pastPostCheckout || pastPreAndPostCheckout" ng-model="fuelStage" btn-radio="'post'">
                                    Post-workout <span ng-hide="!pastPostCheckout"><br /><small>Completed {{ pastPostCheckout }}</small></span>
                                </label>
                                <label class="btn btn-default" ng-hide="pastPreCheckout || pastPostCheckout" ng-disabled="pastPreAndPostCheckout" ng-model="fuelStage" btn-radio="'preAndPost'">
                                    Pre and Post <span ng-hide="pastPreCheckout || pastPostCheckout || !pastPreAndPostCheckout"><br /><small>Completed {{ pastPreAndPostCheckout }}</small></span>
                                </label>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer text-center">
                        <button class="btn btn-primary btn-lg" ng-disabled="fuelStage == null || sportCodeId == null" ng-click="workoutStageComplete()">Submit</button>
                        <button class="btn btn-default btn-lg" ng-click="workoutStageCancel()">Cancel</button>
                    </div>

                </div>
            </div>
        </div>

        <!--todo: modal below is shared with checkoutOrders.. make it into template-->
        <div class="modal fade bs-example-modal-lg" data-backdrop="static" data-keyboard="false" id="checkoutModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class=" modal-dialog modal-lg">
                <div class="modal-content">


                    <div class="modal-body modal-choices">
                        <div class="row">
                            <div class="col-sm-9">
                                <div ng-repeat="category in categories track by $index">
                                    <div class="row fuel-items2b" ng-show="filtered.length > 0">
                                        <div class="col-sm-2 text-right">
                                            <h4>{{category.name}}</h4>

                                        </div>
                                        <div ng-init="parentIndex = $index + 1"></div>
                                        <div class="col-sm-10">
                                            <button ng-repeat="choice in filtered = (choices | filter:{choice: { categoryID: parentIndex}})"
                                                    ng-class=" {'btn-warning': (parentIndex%2 == 0) }"
                                                    class="btn btn-lg btn-info"
                                                    type="button"
                                                    ng-click="addChoice(choice)">
                                                {{choice.choice.name}}
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <button class="btn btn-default" ng-click="cancelCheckout()">Cancel</button>
                                <button class="btn btn-primary" ng-click="checkout() ">Checkout</button>
                                <h2 class="modal-title">
                                    {{athleteData[0].fullName}}
                                    <small>{{sportCodeId}}</small>
                                </h2>

                                <hr />
                                <div class="panel panel-checkout-choices panel-info">
                                    <div class="panel-heading">
                                        <button type="button"
                                                class="btn btn-sm btn-primary pull-right"
                                                ng-disabled="order < 1"
                                                ng-click="clearChoices()">
                                            Clear
                                        </button>
                                        <h5>Choices </h5>
                                    </div>

                                    <ul class="list-group">
                                        <li class="list-group-item" ng-repeat="item in order track by $index">
                                            <button type="button" class="btn btn-link " ng-click="deleteChoice(item)">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </button>{{item.choice.name}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>


</body>


</html>

<script>
    document.body.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
</script>