﻿<div class="container-fluid">

    <h1>Default Choices</h1>

    <hr />

    <div class="row" id="menuBar">
        <div class="col-sm-3 col-sm-offset-1">
            <h4>
                <label class="radio">

                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="default" ng-model="formData.radio" ng-click="refresh('DEF')" checked="checked"> Edit Default Choices Template

                </label>
            </h4>
            <h4>
                <label class="radio">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="bySport" ng-model="formData.radio" ng-click="refresh('SPORT')"> Edit Default Choices Per Sport
                </label>
            </h4>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-default btn-block" type="button" ng-disabled="formData.radio != 'bySport'" ng-click="loadDefault()">Load Default Choices Template</button>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" ng-disabled="formData.radio != 'bySport'" ng-click="clearGUI();">
                    <span class="description text-left">{{formData.sportDescription}}</span> 
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation" ng-repeat="sportCode in sportCodes">
                        <a role="menuitem" tabindex="-1" href="#" ng-click="selectSport(sportCode)">
                            {{sportCode.sportDescription}}
                        </a>
                    </li>

                </ul>
            </div>
            <button class="btn btn-default btn-block" type="button" ng-disabled="formData.sportDescription == 'Select Sport'" ng-click="showDatesModal()">Edit Season Dates</button>

        </div>
        
    </div>

    <hr />

    <div class="row" id="chioceSelection">
        <div class="col-sm-4" id="choices">
            <div class="row fuel-items2b">
                <div class="col-sm-2 text-right">
                    <h4>{{categories[0].name}}</h4>
                </div>
                <div class="col-sm-10">
                    <button ng-repeat="choice in categories[0].choices" type="button" class="btn btn-success " ng-click="addChoice(choice)">{{choice.name}}</button>
                </div>
            </div>
            <div class="row fuel-items2b">
                <div>
                    <div class="col-sm-2 text-right">
                        <h4>{{categories[1].name}}</h4>

                    </div>
                    <div class="col-sm-10">
                        <button ng-repeat="choice in categories[1].choices" type="button" class="btn btn-info " ng-click="addChoice(choice)">{{choice.name}}</button>
                    </div>
                </div>
            </div>
            <div class="row fuel-items2b">
                <div>
                    <div class="col-sm-2 text-right">
                        <h4>{{categories[2].name}}</h4>

                    </div>
                    <div class="col-sm-10">
                        <button ng-repeat="choice in categories[2].choices" type="button" class="btn btn-warning " ng-click="addChoice(choice)">{{choice.name}}</button>
                    </div>
                </div>
            </div>
            <div class="row fuel-items2b">
                <div>
                    <div class="col-sm-2 text-right">
                        <h4>{{categories[3].name}}</h4>

                    </div>
                    <div class="col-sm-10">
                        <button ng-repeat="choice in categories[3].choices" type="button" class="btn btn-success " ng-click="addChoice(choice)">{{choice.name}}</button>
                    </div>
                </div>
            </div>
            <div class="row fuel-items2b">
                <div>
                    <div class="col-sm-2 text-right">
                        <h4>{{categories[4].name}}</h4>

                    </div>
                    <div class="col-sm-10">
                        <button ng-repeat="choice in categories[4].choices" type="button" class="btn btn-info " ng-click="addChoice(choice)">{{choice.name}}</button>
                    </div>
                </div>
            </div>
            <div class="row fuel-items2b">
                <div>
                    <div class="col-sm-2 text-right">
                        <h4>{{categories[5].name}}</h4>

                    </div>
                    <div class="col-sm-10">
                        <button ng-repeat="choice in categories[5].choices" type="button" class="btn btn-warning " ng-click="addChoice(choice)">{{choice.name}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="baskets" ng-repeat="basket in baskets track by $index">
            <div class="col-sm-2">
                <div class="panel panel-checkout-choices" ng-class=" baskets[$index].isActive ? 'panel-warning': 'panel-info' ">
                    <div class="panel-heading">
                        <div class="btn-group-vertical pull-right" role="group" aria-label="...">
                            <button type="button"
                                    class="btn btn-sm "
                                    ng-class=" baskets[$index].isActive ? 'btn-warning' : 'btn-primary' "
                                    ng-click="setActiveBasket($index)">

                                Set Active
                            </button>
                            <button type="button"
                                    class="btn btn-sm btn-default"
                                    ng-disabled="choices.length == 0"
                                    ng-click="clearChoices($index)">
                                Clear
                            </button>

                        </div>
                        <h5>{{basket.description1}} </h5>
                        <h5>{{basket.description2}}</h5>
                    </div>

                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="choice in basket.choices track by $index">
                            <button type="button" class="btn btn-link " ng-disabled="baskets[$parent.$index].isActive == false" ng-click="deleteChoice(choice)">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>{{choice.choice.name}}
                        </li>
                    </ul>

                </div>
            </div>
        </div>


    </div>

    <!-- Modal -->
    <div class="modal modal-lg fade" id="seasonDatesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Season Date - {{formData.sportDescription}}</h4>
                </div>
                <div class="modal-body">

                    <h4>In Season Start Date</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="input-group">
                                <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="currentSportCodeModal.inSeasonStartDate" is-open="openedInStart" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event,'openedInStart')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>

                    <h4>In Season End Date</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="input-group">
                                <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="currentSportCodeModal.inSeasonEndDate" is-open="openedInEnd" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event,'openedInEnd')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                    <h4>Off Season Start Date</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="input-group">
                                <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="currentSportCodeModal.offSeasonStartDate" is-open="openedOffStart" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event,'openedOffStart')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>

                    <h4>Off Season End Date</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="input-group">
                                <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="currentSportCodeModal.offSeasonEndDate" is-open="openedOffEnd" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event,'openedOffEnd')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" >Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="saveDates()">Save changes</button>
                </div>

            </div>
        </div>
    </div>

</div>
