﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="/Ionic/lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="/Ionic/css/style.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <!-- ionic/angularjs js -->
    <script src="/Ionic/lib/ionic/js/ionic.bundle.js"></script>
    <script src="/Ionic/lib/underscore-min.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <!-- your app's js -->
    <script src="/Ionic/lib/ionic/js/angular/angular-resource.min.js"></script>
    <script src="/Ionic/lib/moment.js"></script>
    <script src="/Ionic/js/app.js"></script>

    <script src="/Ionic/app/core/exception-handler.provider.js"></script>
    <script src="/Ionic/app/core/localstorage.service.js"></script>
    <script src="/Ionic/app/core/errorlog.service.js"></script>
    <script src="/Ionic/app/cart/choices.controller.js"></script>
    <script src="/Ionic/app/athleteLogin/login.controller.js"></script>
    <script src="/Ionic/app/athleteLogin/menu.controller.js"></script>

    <!-- Manager controllers -->
    <script src="/Ionic/app/manager/manager.controller.js"></script>
    <script src="/Ionic/app/manager/orderList/orderList.controller.js"></script>
    <script src="/Ionic/app/manager/orderList/editOrder.contoller.js"></script>
    <script src="/Ionic/app/manager/archiveList/archiveList.controller.js"></script>
    <script src="/Ionic/app/manager/snackChoices/snackChoices.controller.js"></script>
    <script src="/Ionic/app/manager/snackLimits/snackLimit.controller.js"></script>
    <script src="/Ionic/app/manager/reports/todaysCheckouts.controller.js"></script>
    <script src="/Ionic/app/manager/errorReport/errors.controller.js"></script>
    <script src="/Ionic/app/manager/reports/monthlyCounts.controller.js"></script>

    <!-- Services -->
    <script src="/Ionic/app/core/core.module.js"></script>
    <script src="/Ionic/app/core/constants.js"></script>
    <script src="/Ionic/app/core/snackLimits.service.js"></script>
    <script src="/Ionic/app/core/choice.service.js"></script>
    <script src="/Ionic/app/core/account.service.js"></script>
    <script src="/Ionic/app/core/order.service.js"></script>
    <script src="/Ionic/app/core/athlete.service.js"></script>
    <script src="/Ionic/app/core/checkout.service.js"></script>
    <script src="/Ionic/app/core/ionicAlert.service.js"></script>
    <script src="/Ionic/app/core/loadingSpinner.service.js"></script>
    <script src="/Ionic/app/core/csv.service.js"></script>
</head>
<body ng-app="app">
    @RenderBody()
</body>
</html>
