button {
    margin: 2px !important;
}

/* Snack hiding animations */

.category-fade.ng-enter {
    transition: 0.3s linear all;
    opacity: 0;
}
.category-fade.ng-enter.ng-enter-active {
    opacity: 1;
}
.category-fade.ng-leave {
    transition: 0.3s linear all;
    opacity: 1;
}
.category-fade.ng-leave.ng-leave-active {
    opacity: 0;
}
.animate-leave.ng-leave {
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
    opacity: 1;
}
.animate-leave.ng-leave.ng-leave-active {
    opacity: 0;
}

/* Student ID number pad styles */

button.button.round-ios-button {
    border: 1px solid #457;
    background-color: #fff;
    border-radius: 50%;
    width: 100%;
    /* height: 120px; */
    padding: 45% 0;
    line-height: 0 !important;
    margin: 20px;
}
button.button.round-ios-button h1 {
    font-weight: 100;
    line-height: 0;
}
.button.button.round-ios-button.active,
.button.round-ios-button.activated {
    background-color: #457;
}
.button.round-ios-button.active h1,
button.button.round-ios-button.activated h1 {
    color: #fff;
}
.line-height-0.ion-arrow-left-b:before {
    line-height: 0 !important;
}
.larger-icon.ion-arrow-left-b:before {
    font-size: 35px;
}
.key-padding {
    padding: 2% 5% !important;
}
.numpad-container {
    padding: 0 26%;
}

/* Order List */

.first-right-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    min-width: 34px;
    min-height: 34px;
    font-size: 18px;
    line-height: 32px;
}
.second-right-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 50px;
    min-width: 34px;
    min-height: 34px;
    font-size: 18px;
    line-height: 32px;
}
.first-left-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: absolute;
    top: 8px;
    left: 8px;
    min-width: 34px;
    min-height: 34px;
    font-size: 18px;
    line-height: 32px;
}

/* General Styling */

.light-weight {
    font-weight: 100 !important;
}
.text-white {
    color: #fff;
}
.align-left {
    float: left;
}
.align-right {
    float: right;
}
.force-balanced {
    color: #33cd5f !important;
}
.force-assertive {
    color: #ef473a !important;
}
.m-t-10 {
    margin-top: 10px;
}
.m-b-10 {
    margin-bottom: 10px;
}
.m-t-20 {
    margin-top: 20px;
}
.m-b-0 {
    margin-bottom: 0;
}
.p-r-120 {
    padding-right: 120px;
}
.p-l-50 {
    padding-left: 50px;
}
.bold {
    font-weight: bold;
}
.large-modal {
    top: 10%;
    right: 5%;
    bottom: 10%;
    left: 5%;
    min-height: 80%;
    width: 90%;
}
.width-70 {
    width: 71% !important;
}

.two-columns {
    -webkit-column-count: 2;
    column-count: 2;
}

.text-gray {
    color: #aaa;
}

/* Order and archive list - show additional rows */

.row.unlimited-items {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.row.unlimited-items .col {
    -webkit-flex: none;
    flex: none;
}
