<ion-view view-title="FuelStation Choices">
    <div class="bar bar-subheader bar-stable text-center vcenter">
        <button class="button button-icon icon ion-ios-plus force-balanced align-left" ng-click="vm.openModal()"></button>
        <div class="title">
            Sort by: <span ng-class="{bold: vm.predicate === 'name'}" ng-click="vm.predicate = 'name'">Name</span> | <span ng-class="{bold: vm.predicate === 'type'}" ng-click="vm.predicate = 'type'">Type</span>
        </div>
    </div>
    <ion-content class="has-subheader">

        <ion-list show-delete="vm.data.showDelete" can-swipe="true">
            <ion-item ng-repeat="choice in vm.allChoices | orderBy:vm.predicate">
                {{choice.name}} <span ng-show="!choice.isActive" class="text-gray"> &ndash; <em><i class="icon ion-close-circled"></i> Not Available</em></span>
                <span class="align-right">{{vm.getType(choice.type)}}</span>
                <ion-option-button class="button-energized"
                                   ng-click="vm.editChoice(choice)">
                    Edit
                </ion-option-button>
                <ion-option-button class="button-assertive"
                                   ng-click="vm.deleteChoice(choice)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>


    </ion-content>
</ion-view>
