<header class="bar bar-header bar-positive">
    <h1 class="title">Menu</h1>
</header>
<ion-content class="has-header">

    <ul class="list">
        <li>
            <a class="item" menu-close ng-click="vm.openModal()">Manager</a>
        </li>
    </ul>
</ion-content>
